@import '../../styles/mixins';

.wrapper{
	@include container;

}

.content{

	z-index:10;
}

.content__title{
	text-align: center;
	font-family: 'Sawarabi Gothic', sans-serif;
	margin-top: 300px;
	@include adaptiv-font(130, 40)
}

.content__subtitle{
	text-align: center;
  padding: 100px 20px 0 20px;
	@include adaptiv-font(50, 25)
}


.modal__container{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.popup__close{
	position: absolute;
	right: 10px;
	top: 10px;
	width: 15px;
	height: 15px;
	opacity: 0.3;
	transition: all .3s ease;
}
	.popup__close:hover{
		opacity: 1;
	}

	.popup__close::before,
	.popup__close::after{
		position: absolute;
		left: 0px; 
		content: ' ';
		height: 20px;
		width: 2px;
		background-color: #333;
	}

	.popup__close::before{
		transform: rotate(45deg);
	}

	.popup__close::after{
		transform: rotate(-45deg);
	}

.modal__body{
	padding: 30px;
	width: 500px;
	background-color: #fff;
	border-radius: 15px;
	position: relative;

	&_title{
		text-align: center;
		font-size: 18px;
	}
}

.col{
	text-align: center;
	
}

.col h3{
   padding: 20px 0px 0px 0px;
	font-size: calc(35px + 15 * ((100vw - 320px) / (1280 - 320)));
	margin-bottom: 100px;
	margin-top: 100px;
}

.row{
	padding: 0;
}

.content__article{
	padding: 0px 0px 100px 0px;
}

.content_img {
	height: 500px;
	min-width: 800px;
	max-width: 1000px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	border: 1px solid gray;
	margin: 0 auto;
}

.inputBox{
	margin-top: 20px;
	position: relative;
	display: flex;
	height: 70px;
	width: 100%;
	justify-content: center;
}

.signin_label{
	text-align: center;
	padding: 0;
	font-size: 16px;
	cursor: pointer;
	width: 300px;
	display: block;
	position: relative;
}
.signin_label::before{
		content: '';
		position: absolute;
		border: 2px solid #c4c9c9;
		width: 18px;
		height: 18px;
		top: 0;
		left: 0;
		border-radius: 3px;
		transition: .2s;
	}

.recover{
	width: 300px;
	margin: 0 auto;
	margin-top: 15px;
	font-size: 12px;

   .recover__input{
      opacity: 0;
   }
} 

.accepted{
   &::before{
      border-top:	2px solid transparent;
      border-left:2px solid transparent;
      border-right:2px solid lime;
      border-bottom:2px solid lime;
      transform: rotate(40deg);
      width: 12px;
      height: 22px;
      transform-origin: 100% 100%;
      top: -4px;
      left: -5px;
   }

}

.inputButtons{
	transition: all .3s ease;
	position: absolute;
	width: 30px;
	height: 25px;
	border-radius: 10px;
	background: #298cad;
	top: 50%;
	color: #fff;
	font-size: 20px;
	font-weight: 600;

	&_plus{
		right: 0;
	}

	&_minus{
		left: 0;
	}

	&:hover{
		background: rgb(35, 78, 158);
	}

	&.disabled_button{
		background: rgb(234, 234, 234);
		cursor: not-allowed;
	}
}


.attention{
	max-width: 1200px;
	margin: 0 auto 50px auto;
	padding: 30px 100px;
	text-align: left;
	border: 2px solid #e74040;
	border-radius: 20px;
	font-size: 18px;

	p{
		margin: 20px 0;
		font-weight: 600;
	}
}

.price{
	padding-top: 30px;
	font-size: 18px;
}

.ticket_order__form{
	margin: 0 auto;
	padding: 0px 20px;
	width: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;

	.button{
		width: 200px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.disabled{
		display: block !important;
		width: 200px !important;
		background: rgb(234, 234, 234);
		transition: ease .5s all;
		cursor: not-allowed;
		margin: 30px auto 10px auto;
		border: none;
		width: 60%;
		color:black;
		font-size: 18px;
		text-transform: uppercase;
		display: block;
		text-align: center;
		line-height: 48px;

		&:hover{
			background: none;
		}
	}
}


@media(max-width: 767px){
   .content__article{
      padding: 0;
   }
}