.tab{
   font-size: 25px;
   cursor: pointer;
   padding: 15px;
   display: inline-block;
   margin-bottom: -1px;
   margin: 0;
}

.tab.active{
    color: royalblue;;
}

.block_form{
   padding: 20px;
   width: 100%;

}


.registration_link{
   text-align: center;
   padding: 10px 0px 0px 0px;
}

.registration_link a{
   padding: 10px 0 0 0;
   color: #000;
   transition: .5s all ease;
}

.registration_link a:hover{
   color: cornflowerblue;	
   transition: .5s all ease;
}

.labels_container{
   display: flex;
   width: 100%;
   justify-content: center;
}


.tab_button{
      transition: ease .5s all;
      margin: 30px auto 10px auto;
      border: none;
      border-radius: 10px;
      width: 200px;
      background: #298cad;
      color:white;
      font-size: 18px;
      text-transform: uppercase;
      display: block;
      text-align: center;
      height: 48px;
}

.tab_button_disabled{
   transition: ease .5s all;
   margin: 30px auto 10px auto;
   border: none;
   border-radius: 10px;
   width: 200px;
   background: #f5f5f5;
   color:#000;
   font-size: 18px;
   text-transform: uppercase;
   display: block;
   text-align: center;
   line-height: 48px;
   cursor: not-allowed;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 48px;
}

.tab_button:hover{
   transition: ease .5s all;
   background: rgb(35, 78, 158);
}

.tab_link{
   transition: .5s ease;
   margin-top: 40px;
   display: block;
   font-size: 12px;
   text-align: center;
   color:#000;
}

.tab_link:hover{
   color: cornflowerblue;
}


.inputBox{
   margin-top: 20px;
   position: relative;
   display: flex;
   height: 70px;
   width: 100%;
   justify-content: center;
}

 .recover{
   width: 300px;
   margin: 0 auto;

   margin-top: 15px;
   font-size: 12px;
} 

.popup__errors{
   height: 30px;
   text-align: center;
   padding: 30px 0 20px 0;
   font-size: 16px;
   font-weight: 600;
   color: rgb(224, 70, 70);
}




@media (max-width: 450px) {

   .recover{
      font-size: 3px;
      width: 100%;
      text-align: justify;
   }

   .block_form{
      margin: 0 auto;
      width: 100%;
      display: flex;
      flex-direction: column;
   }
.tab{
   text-align: center;
   width: 100%;
   padding: 0;
}

.tab_form{
   padding: 0px 20px 20px 20px;
}

.tab_labelText{
   width: 100%;
   font-size: 16px;
}

.labels_container{
   display: flex;
   width: 100%;
   align-items: center;
   flex-direction: column;
   }
}


#ckbox:checked + label::before{
   border-top:	2px solid transparent;
   border-left:2px solid transparent;
   border-right:2px solid lime;
   border-bottom:2px solid lime;
   transform: rotate(40deg);
   width: 12px;
   height: 22px;
   transform-origin: 100% 100%;
   top: -4px;
   left: -5px;
}

#ckbox:not(:checked),
#ckbox:checked{
   opacity: 0;
}


@media (max-width: 450px) {
   .recover{
      text-align: justify;
      margin: 0 auto;
      width: 100px;
      height: 100px;
   }


   .recover label[for="ckbox"]{
      text-indent: 20px;
      width: 100%;
      height: 100%;
   }
}