@import '../../../styles/mixins';


.kitchenFirstImage{
	background-image: url(../../../images/cityImages/viborg/rest1.jpg);
}

.kitchenSecondImage{
	background-image: url(../../../images/cityImages/viborg/rest2.jpg) ;
}

.kitchenThirdImage{
	background-image: url(../../../images/cityImages/viborg/rest3.jpg);
}

.interestingFirstImage{
	background-image: url(../../../images/cityImages/viborg/castle.jpg);
}

.interestingSecondImage{
	background-image: url(../../../images/cityImages/viborg/olafTower.jpg);
}

.interestingThirdImage{
	background-image: url(../../../images/cityImages/viborg/monrepo.jpg);
}

#firstCardItem{
	background: url(../../../images/cityImages/viborg/rest1.jpg) no-repeat;
	@include cardImg;
}

#secondCardItem{
	background: url(../../../images/cityImages/viborg/rest2.jpg) no-repeat;
	@include cardImg;
}

#thirdCardItem{
	background: url(../../../images/cityImages/viborg/rest3.jpg) no-repeat;
	@include cardImg;
}

#fourthCardItem{
	background: url(../../../images/cityImages/viborg/castle.jpg) no-repeat;
	@include cardImg;
}

#fifthCardItem{
	background: url(../../../images/cityImages/viborg/olafTower.jpg) no-repeat;
	@include cardImg;
}

#sixthCardItem{
	background: url(../../../images/cityImages/viborg/monrepo.jpg) no-repeat;
	@include cardImg;
}