@import '../../../styles/mixins';

.container{
	margin: 0 auto;
	position: relative;
}

.errorsField{
	padding: 40px;
	background-color: #fff;
	height: 100%;
	width: 300px;
	position: absolute;
	left: -100%;
	top: 0;
	border: 3px solid rgba(213, 212, 212, .3);
	border-radius: 10px;

	&__title{
		font-weight: 400;
		font-size: 20px;
		text-align: center;
	}

	&__container{
		margin: auto;
		padding: 40px 0 20px 0;
	}


	&__item{
		height: 40px;
		transition: all .3s ease;
		padding: 10px 0 10px 0;
		color: rgb(124, 210, 124);
		font-size: 16px;
		font-weight: 600;
		display: flex;
		align-items: space-between;

		&_tip{
			position: relative;
			right: 0;
			top: 10px;
			display: block;
			width: 30px;
			height: 30px;
			&::before{
				content: '';
				position: absolute;
				opacity: 1;
				border-top:	2px solid transparent;
				border-left:2px solid transparent;
				border-right:2px solid lime;
				border-bottom:2px solid lime;
				transform: rotate(40deg);
				width: 12px;
				height: 22px;
				transform-origin: 100% 100%;
				top: -15px;
				left: 15px;
			}
		}
	}

	.errors{
		color: red;
	}

	.errorsField__item .errors{
		.errorsField__item_tip{
			&::before{
				opacity: 0;
			}
		}
	
	}
}

.server_response{
	margin: 0  auto;
	width: 80%;
	padding: 30px 0 0 0;
	text-align: center;
	font-weight: 600;
	color: rgb(124, 210, 124);
	font-size: 20px;
}

.server_response.err{
	color: rgb(224, 70, 70);
}


.inputBox{
	margin-top: 20px;
	position: relative;
	display: flex;
	height: 70px;
	width: 100%;
	justify-content: center;
}

 .recover{
	width: 300px;
	margin: 0 auto;
	margin-top: 15px;
	font-size: 12px;

   .recover__input{
      opacity: 0;
   }
} 

.signin_label{
	text-align: center;
	padding: 0;
	font-size: 16px;
	cursor: pointer;
	width: 300px;
	display: block;
	position: relative;
}
.signin_label::before{
		content: '';
		position: absolute;
		border: 2px solid #c4c9c9;
		width: 18px;
		height: 18px;
		top: 0;
		left: 0;
		border-radius: 3px;
		transition: .2s;
	}

.signin_label__link{
			transition: .5s ease;
			color: #000;
}
			
.signin_label__link{
	transition: .5s ease;
	color: cornflowerblue;
}

.tab_button{
	height: 48px;
	position: relative;
   transition: ease .5s all;
   margin: 30px auto 10px auto;
   border: none;
	border-radius: 10px;
   width: 200px;
   background: #298cad;
   color:white;
   font-size: 14px;
   text-transform: uppercase;
   display: flex;
   justify-content: center;
	align-items: center;

	&_disabled{
		transition: ease .5s all;
		cursor: not-allowed;
		margin: 30px auto 10px auto;
		border: none;
		border-radius: 10px;
		width: 200px;
		color:black;
		font-size: 14px;
		text-transform: uppercase;
		display: block;
		text-align: center;
		line-height: 48px;
	}
}



.tab_button:hover{
transition: ease .5s all;
background: rgb(35, 78, 158);
}

.accepted{
   &::before{
      border-top:	2px solid transparent;
      border-left:2px solid transparent;
      border-right:2px solid lime;
      border-bottom:2px solid lime;
      transform: rotate(40deg);
      width: 12px;
      height: 22px;
      transform-origin: 100% 100%;
      top: -4px;
      left: -5px;
   }

}
