.container{
   width: 1200px;
   padding: 120px 0 0 0;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
}


.sber{
   background: green;
}

.NSPKMIR{
   background:  url('../../images/bankCard/2560px-Mir-logo.SVG.svg.png') ;
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

.VISA{
   background:  url('../../images/bankCard/Visa_Inc._logo.svg.png') ;
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

.MASTERCARD{
   background:  url('../../images/bankCard/Mastercard-Logo.wine.png') ;
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

