
.wrapper{

   .profile{
     &_block{
      margin: 150px auto 0px auto;
      padding: 0px 20px;
      width: 600px;
     } 

     &_title{
      text-align: center;
      font-size: 24px;
      font-weight: 600;
     }

     &_name{
      font-size: 18px;
      padding: 30px 0px;
     

      &_title{
         display: block;   
         height: 30px;
         display: flex;
         align-items: center;
         justify-content: space-between;
         width: 150px;
      }
     }



      &_no_login{
         display: flex;
         width: 100vw;
         height: 100vh;
         align-items: center;
         justify-content: center;
      }

      &__tickets{
         &_title{
            text-align: center;
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 100px;
         }

         &_list{
            display: grid; 
            grid-template-columns: 1fr 1fr; 
            grid-template-rows: 1fr; 
            gap: 20px 20px; 
            justify-items: center;
            height: 400px;
            overflow-y: auto;
         }

         &__loader{
            display: flex;
            justify-content: center;
         }

         &__no_tickets{
            text-align: center;
         }
      }
   }


   .user_pay_card{

      padding: 100px 0 50px 0;

      &_container{
         display: flex;
         justify-content: center;
         align-items: center;
         height: 300px;
      }

      &__title{
         font-size: 24px;
         text-align: center;  
         font-weight: 600;
      }

      &_message{
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         height: 150px;
         width: 100%;
         border: 2px solid red;
         border-radius: 10px;
      }

      &__no_cards{
         height: 300px;
         display: flex;
         align-items: center;
         justify-content: center;
      }

      &_saved{
            padding: 50px 0;
            height: 300px;
            overflow-y: auto;
            display: grid; 
            grid-template-columns: 1fr 1fr 1fr; 
            grid-template-rows: 1fr; 
            gap: 20px 20px; 
            justify-items: center;
      }

      &__add_card__button{
         height: 48px;
         position: relative;
         transition: ease .5s all;
         margin: 30px auto 10px auto;
         border: none;
         width: 200px;
         background: #298cad;
         color:white;
         font-size: 18px;
         text-transform: uppercase;
         display: block;
         text-align: center;
         line-height: 48px;
         border-radius: 10px;

         &:hover{
            transition: ease .5s all;
            background: rgb(35, 78, 158);
         }
      }

     }
}
