@import 'nullstyle.scss';
@import '../../node_modules/react-credit-cards-2/dist/lib/styles.scss';

html {
   scroll-behavior: smooth;
 }
 
 html,
 body{
  font-family: 'Source Sans Pro', sans-serif;
 }

.bodyLock{
	overflow: hidden;
}