.ticket{
   width: 250px;
   height: 200px;
   padding: 20px;
   border: 2px solid #d7d7d7;
   border-radius: 10px;
  

   &__title{
      text-align: center;
      margin-bottom: 30px;
      font-size: 18px;
   }

   &__person_number{
      text-align: center;
      margin-bottom: 20px;
   }


   &__dates{
      margin: 40px auto 0 auto;
      font-size: 12px;
      font-weight: 600;
      width: 200px;
      display: flex;
      justify-content: space-between;
   }

   &__price{
      margin-top: 20px;
      text-align: center;
      font-size: 16px;
   }
}