@import '../../../styles/mixins';


.kitchenFirstImage{
	background-image: url(../../../images/cityImages/sochi/rest1.jpg);
}

.kitchenSecondImage{
	background-image: url(../../../images/cityImages/sochi/rest2.jpg);
}

.kitchenThirdImage{
	background-image: url(../../../images/cityImages/sochi/rest3.jpg);
}

.interestingFirstImage{
	background-image: url(../../../images/cityImages/sochi/bashnya.jpg);
}

.interestingSecondImage{
	background-image: url(../../../images/cityImages/sochi/krasnayaPolyana.jpg);
}

.interestingThirdImage{
	background-image: url(../../../images/cityImages/sochi/sobor.jpg);
}

#firstCardItem{
	background: url(../../../images/cityImages/sochi/rest1.jpg) no-repeat;
	@include cardImg;
}

#secondCardItem{
	background: url(../../../images/cityImages/sochi/rest2.jpg) no-repeat;
	@include cardImg;
}

#thirdCardItem{
	background: url(../../../images/cityImages/sochi/rest3.jpg) no-repeat;
	@include cardImg;
}

#fourthCardItem{
	background: url(../../../images/cityImages/sochi/bashnya.jpg) no-repeat;
	@include cardImg;
}

#fifthCardItem{
	background: url(../../../images/cityImages/sochi/krasnayaPolyana.jpg) no-repeat;
	@include cardImg;
}

#sixthCardItem{
	background: url(../../../images/cityImages/sochi/sobor.jpg) no-repeat;
	@include cardImg;
}