.main_content{
	margin:0 0 100px 0;

	&__warning{
		font-size: calc(15px + 7 * ((100vw - 320px) / (1280 - 320)));
		display: flex;
		align-items: center;
		justify-content: center;
		height: 200px;
		width: 100%;
		border: 2px solid rgb(224, 70, 70);
		border-radius: 20px;
	}

	&__country_name{
		text-align: center;
		font-size: calc(18px + 9 * ((100vw - 320px) / (1280 - 320)));
		padding: 100px 0;
	}
}

.main_content__container{
	max-width:1200px;
	margin: 0 auto;
	padding: 0px 20px 100px 20px;
	}



