.container{
  
   padding: 60px 0 0 0;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.NSPKMIR{
   background:  url('../../../../images/bankCard/2560px-Mir-logo.SVG.svg.png') ;
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

.VISA{
   background:  url('../../../../images/bankCard/Visa_Inc._logo.svg.png') ;
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

.MASTERCARD{
   background:  url('../../../../images/bankCard/Mastercard-Logo.wine.png') ;
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}



.CJSCALFA-BANK{
   background:  url('../../../../images/bankCard/alphaBank.png') ;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.SBERBANK{
   background:  url('../../../../images/bankCard/sberBank.png') ;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   color: #fff;
}

.GAZPROMBANKOJSC{
   background:  url('../../../../images/bankCard/gazpromBank.png') ;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   color: #fff;
}

.TINKOFFBANK{
   background:  url('../../../../images/bankCard/tinkoff.png') ;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   color: #fff;
}

.VNESHTORGBANK{
   background:  url('../../../../images/bankCard/vtbBank.png') ;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   color: #fff;
}

.CBOTKRITIECJSC{
   background:  url('../../../../images/bankCard/otkritieBank.png') ;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   color: #fff;
}


.JSCBROSBANK{
   background:  url('../../../../images/bankCard/rosBank.png') ;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   color: #fff;
}

.button{
   height: 48px;
   position: relative;
   transition: ease .5s all;
   margin: 30px auto 10px auto;
   border: none;
   width: 170px;
   background: #298cad;
   color:white;
   font-size: 18px;
   text-transform: uppercase;
   display: block;
   text-align: center;
   line-height: 48px;
   border-radius: 10px;

   &__disabled{
      height: 48px;
      background: #f5f5f5;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 170px;
      display: block;
      margin: 30px auto 10px auto;
      border-radius: 10px;
      cursor: not-allowed;
   }

   &:hover{
      transition: ease .5s all;
      background: rgb(35, 78, 158);
   }
}