.img__wrapper{
	height: 100%;
	width: 100%;
}

.blockImg{
	flex-direction: column;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	background-color: black;
}

.img_countries{
		z-index: -2;
		width: 100%;
		height: 100%;
		transition: .5s;
}

.block_text{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
		display: flex;
		justify-content: center;
}

	.content__text{
		position: relative;
		flex-direction:column;
		max-width: 500px;
		display: flex;
		text-align: center;
		opacity: 0;
		color: white;
		font-size: calc(20px + 10 * ((100vw - 320px) / (1280 - 320)));

		}

.img__wrapper:hover .content__text{
	transition: .5s ease;
	opacity: 1;
}

.content__text_title{
	font-size: calc(20px + 10 * ((100vw - 320px) / (1280 - 320)));
	 margin: 40px 0; 
}

.content__text_subtitleClass{
	font-size: calc(12px + 5 * ((100vw - 320px) / (1280 - 320)));
	text-align: justify;
	padding: 0 20px;
}

.countrieDesk{
	transition: .5s ease;
	display: block;
	opacity: 0;
	position: absolute;
	bottom: 10px;
	right: 0;
	border: none;
	width: 250px;
	background: #298cad;
	color:white;
	font-size: calc(12px + 5 * ((100vw - 320px) / (1280 - 320)));
	text-transform: uppercase;
	display: block;
	text-align: center;
	line-height: 48px;
}


.img__wrapper:hover  .blockImg img{
	transform: scale(1.2);
	filter:blur(1px);
	opacity: .5;
} 




.content__title{
	font-family: 'Caveat', cursive;
	font-size: calc(40px + 15 * ((100vw - 320px) / (1280 - 320)));
	transition: .5s ease;
	position: absolute;
	top: 20px;
	color:white;
	left: 10%;
	opacity: 1;
}

.content__price{
	color: white;
	font-size: calc(20px + 10 * ((100vw - 320px) / (1280 - 320)));
	position: absolute;
	right: 20px;
	bottom: 10px;
	opacity: 1;
}

.img__wrapper:hover .content__title{
	transition: .5s ease;
	opacity: 0;	
}

.img__wrapper:hover .content__price{
	transition: .5s ease;
	opacity: 0;	
}

.img__wrapper:hover .countrieDesk{
	transition: .5s ease;
	opacity: 1;
}

.wrapper_img{
	margin: 20px;
}

.img__limiter{
   height: 100%;
   width: 100%;
   overflow: hidden;
}

.img__limiter.content__text{
	position: absolute;
	width: 50%;
}

.link{
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	bottom: 5px;
	right: 10px;
	width: 200px;
	height: 50px;
	border-radius: 10px;
	background-color: #298cad;
	color:#fff;
	display: flex;
	justify-content: center;
	align-items: center;

	&:hover{
		background-color: #52b5d6;
	}
}

.link_order{
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	bottom: 5px;
	left: 10px;
	width: 200px;
	height: 50px;
	border-radius: 10px;
	background-color: #298cad;
	color:#fff;
	display: flex;
	justify-content: center;
	align-items: center;

	&:hover{
		background-color: #52b5d6;
	}

	&.disabled{
		cursor: not-allowed;
		color: black;
		background: rgb(198, 198, 198);
	}
}

.img__wrapper:hover .link{
	opacity: 1;
}

.img__wrapper:hover .link_order{
	opacity: 1;
}


@media (max-width:767px) {
	.limiter{
		height: 100%;
		width: 200%;
	}

	.limiter .block_text{
		width: 50% !important;
	}

	.limiter .countrieDesk{
		right: 50% !important;
	}

	.limiter .link{
		right: 50%;
	}
}