.smallBankCard{
   width: 150px;
   height: 80px;
   border-radius: 20px;
   position: relative;

   &_brand{
      position: absolute;
      right: 10px;
      bottom: 10px;
      width: 40px;
      height: 25px;
    
   }

   &_number{
      position: absolute;
      right: 20px;
      top: 30px;
   }

   &__loader{
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   &_buttons{
      position: absolute;
      transition: all .3s ease;
      display: flex;
      opacity: 0;
   }

   &:hover{
      .smallBankCard_buttons{
         opacity: 1;
         transition: all .3s ease;
      }
   }



}

.NSPKMIR{
   background:  url('../../../../images/bankCard/2560px-Mir-logo.SVG.svg.png') ;
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}



.VISA{
   background: url('../../../../images/bankCard/Visa_Inc._logo.svg.png');
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
}

.MASTERCARD{
   background:  url('../../../../images/bankCard/Mastercard-Logo.wine.png') ;
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}



.CJSCALFA-BANK{
   background:  url('../../../../images/bankCard/alphaBank.png') ;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.SBERBANK{
   background:  url('../../../../images/bankCard/sberBank.png') ;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.GAZPROMBANKOJSC{
   background:  url('../../../../images/bankCard/gazpromBank.webp') ;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.TINKOFFBANK{
   background:  url('../../../../images/bankCard/tinkoff.webp') ;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.VNESHTORGBANK{
   background:  url('../../../../images/bankCard/vtbBank.webp') ;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.CBOTKRITIECJSC{
   background:  url('../../../../images/bankCard/otkritieBank.png') ;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}


.JSCBROSBANK{
   background:  url('../../../../images/bankCard/rosBank.png') ;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}
