.smallBankCard{
   width: 150px;
   height: 80px;
   border-radius: 10px;
   position: relative;

   &_brand{
      position: absolute;
      right: 10px;
      bottom: 10px;
      width: 40px;
      height: 25px;
    
   }

   &_number{
      position: absolute;
      right: 20px;
      top: 30px;
   }

   &__loader{
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   &_buttons{  
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      transition: all .3s ease;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      opacity: 0;
     
   }

   &__button{
      width: 100px;
      height: 30px;
      font-size: 12px;
      background: #298cad;
      border-radius: 10px;
      color: #fff;

      &:hover{
         transition: ease .5s all;
         background: rgb(35, 78, 158);
   
         &:hover{
            transition: ease .5s all;
            background: rgb(35, 78, 158);
         }
      }
   }

   &:hover{

      .smallBankCard_buttons{
         opacity: 1;
         transition: all .3s ease;
      }
   }

   

}

.selectedCard{
   border: 4px solid #298cad;
   color: red;
}

.NSPKMIR{
   background:  url('../../../../images/bankCard/2560px-Mir-logo.SVG.svg.png') ;
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
   color: #fff;
}



.VISA{
   background: url('../../../../images/bankCard/Visa_Inc._logo.svg.png');
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   color: #fff;
}

.MASTERCARD{
   background:  url('../../../../images/bankCard/Mastercard-Logo.wine.png') ;
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
   color: #fff;
}



.CJSCALFA-BANK{
   background:  url('../../../../images/bankCard/alphaBank.png') ;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   color: #fff;
}

.SBERBANK{
   background:  url('../../../../images/bankCard/sberBank.png') ;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   color: #fff;
}

.GAZPROMBANKOJSC{
   background:  url('../../../../images/bankCard/gazpromBank.png') ;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   color: #fff;
}

.TINKOFFBANK{
   background:  url('../../../../images/bankCard/tinkoff.png') ;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   color: #fff;
}

.VNESHTORGBANK{
   background:  url('../../../../images/bankCard/vtbBank.png') ;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   color: #fff;
}

.CBOTKRITIECJSC{
   background:  url('../../../../images/bankCard/otkritieBank.png') ;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   color: #fff;
}


.JSCBROSBANK{
   background:  url('../../../../images/bankCard/rosBank.png') ;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   color: #fff;
}
